ol.articles li::before {
  content: attr(data-time);
  left: auto;
  top: auto;
}

.tag {
  margin-right: 0.5rem;
}

.row-3 {
  overflow: hidden;
  height: 4.5em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.clickable {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.grid.grid-3 {
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 30em) {
  .grid.grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.dialog {
  background-color: var(--background-color);
  color: var(--font-color);
  width: 80%;
  padding: 2rem;
  padding-left: 0;
  max-width: 600px;
}

.dialog::backdrop {
  background-color: var(--background-color);
}
